<!DOCTYPE html>
<head th:substituteby="/includes/header :: header" />
<div class="wrapper wrapper-content  animated fadeInRight">
    <div class="ibox ">
        <div class="ibox-content">
            <form id="searchForm" class="form-inline list-search" role="form">
                <div class="form-group">
                    <label>
                		项目名称
                		<input type="text" id="name" autofocus="autofocus" name="name" class="input-sm form-control" value="" />
                    </label>
                </div>
                <div class="form-group">
                    <label>
                		供应商
                		<input type="text" id="supplierName" name="supplierName" class="input-sm form-control" value="" />
                    </label>
                </div>
                <div class="form-group">
                    <label>项目类型<select id="projectTypeId" name="projectTypeId" class="chosen-select"></select>
                    </label>
                </div>
            </form>
            <div class="list-btn">
                <button id="search" class="btn btn-primary btn-sm" >
                    搜 索 <i class="fa fa-search"></i>
                </button>
                <button id="search-reset" class="btn btn-primary btn-sm" >
                    显示所有
                </button>
                <button th:if="${hasAddBtn} == true" id="add" class="btn btn-danger btn-sm" onclick="bid()">
                    招标<i class="fa fa-plus"></i>
                </button>
            </div>
            <div class="jqGrid_wrapper">
                <table id="table_list_1"></table>
                <div id="pager_list_1"></div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" th:inline="text">
	//<![CDATA[
        var jsonCondition = {};
        $(function () {
            syk.initList();
            loadProjectType(); 
            window.setTimeout(function() {
            	var dataGrid = new DataGrid({
                	 url:'/project/bid/list.json',
                	 dataGridTable: $("#table_list_1"),
                     pagerId : '#pager_list_1',
                	 colNames : ['ID','项目名称','项目类型','投资规模','中标供应商','状态','创建时间','操作'],
                     colModel : [
                                {name:'id', index:'id', width:100,align:"center",sortable:false},
                                {name:'name', index:'name', width:250,align:"center",sortable:false,classes:'text'},
                                {name:'projectTypeName', index:'projectTypeName',align:"center", width:200,sortable:false},
                                {name:'investment', index:'investment', width:150,align:"center",sortable:false},
                                {name:'supplierName', index:'description', width:250,align:"center",sortable:false,classes:'text'},
                                {name:'status', index:'status',align:"center", width:150,formatter: formatStatus,sortable:false},
                                {name:'createTime', index:'createTime',align:"center", width:150,formatter: syk.formatTime,sortable:false,classes:'text'},
                                {name:'operate', index:'operate', width:150,align:"center",formatter: formatMenu,sortable:false},
                              ]
                });
    		},100);
        });
     
        function formatMenu(cellvalue, options, rowObject) {
        	var btns = '<div class="btn-group"><button data-toggle="dropdown" class="btn btn-primary btn-xs dropdown-toggle">操作<span class="caret"></span></button>' +
      		'<ul class="dropdown-menu">';
      		if ([[${hasEditBtn}]] == true) {
	           btns = btns + '<li><a href="#" onclick="edit(' + rowObject.id + ');">评分</a></li>';
	        }
        	btns = btns + '<li><a href="#" onclick="look(' + rowObject.id + ');">查看</a></li>';
			return btns + '</ul></div>';
		}
		
		function formatStatus(cellvalue, options, rowObject) {
        	if(cellvalue == 2){
        		return '中标';
        	}else if(cellvalue == 3){
        		return '完成';
        	}else if(cellvalue == 4){
        		return '已评分';
        	}
		}

        function loadProjectType() {
	    	syk.get("/project/type.json", function (datas) {
	        	syk.initFixedChosen(datas, { selector: $("#projectTypeId") });
	        });
	    }
	    
	    function bid() {
	        syk.parent.sykModal.open({ url: "/pages/project/bid", title: "项目招标", top: '10%', ftitle: '', size: 500 });
	    }
    //]]>
</script>
