<!DOCTYPE html>
<head th:substituteby="/includes/header :: header" />
<div class="wrapper wrapper-content  animated fadeInRight">
    <div class="ibox ">
        <div class="ibox-content">
            <form id="searchForm" class="form-inline list-search" role="form">
                <div class="form-group">
                    <label>
                		项目名称
                		<input type="text" id="name" autofocus="autofocus" name="name" class="input-sm form-control" value="" />
                    </label>
                </div>
                <div class="form-group">
                    <label>项目类型<select id="projectTypeId" name="projectTypeId" class="chosen-select"></select>
                    </label>
                </div>
            </form>
            <div class="list-btn">
                <button id="search" class="btn btn-primary btn-sm" >
                    搜 索 <i class="fa fa-search"></i>
                </button>
                <button id="search-reset" class="btn btn-primary btn-sm" >
                    显示所有
                </button>
                <button th:if="${hasAddBtn} == true" id="add" class="btn btn-danger btn-sm" onclick="add()">
                    新 增 <i class="fa fa-plus"></i>
                </button>
                <button th:if="${hasDelBtn} == true" id="delete1" class="btn btn-danger btn-sm" onclick="delProject()">
                    删除 <i class="fa fa-trash"></i>
                </button>
            </div>
            <div class="jqGrid_wrapper">
                <table id="table_list_1"></table>
                <div id="pager_list_1"></div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="project_view" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">项目详情</h4>
            </div>
            <div class="modal-body" style="height: auto; overflow:auto;">
                <div class="form-group row">
                    <div class="col-md-3 text-right"><label>项目名称：</label></div>
      				<div class="col-md-8" id="name_1"></div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3 text-right"><label>项目类型：</label></div>
        			<div class="col-md-8" id="projectTypeName"></div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3 text-right"><label>项目编码：</label></div>
                    <div class="col-md-3" id="serialNum"></div>
                    <div class="col-md-3 text-right"><label>投资规模：</label></div>
                    <div class="col-md-3" id="investment"></div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3 text-right"><label>项目简介：</label></div>
                    <div class="col-md-9" id="description"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<div class="modal fade" id="bidModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">项目招标</h4>
            </div>
            <div class="modal-body ">
                <form id="bidform" class="form-horizontal">
                    <input name="id" style="display: none;" />
                    <div class="form-group">
				        <label class="col-md-2 control-label">项目名称</label>
				        <div class="col-md-9">
				        	<input id="projectId" name="projectId" type="hidden" />
				            <input readonly="readonly" type="text" autocomplete="off" id="projectName" name="projectName" data-bv-notempty="false" class="input-sm form-control"/>
				        </div>
				    </div>
				    <div class="form-group">
				        <label class="col-md-2 control-label">招标方式</label>
				        <div class="col-md-9">
				            <select id="bidType" name="bidType" class="chosen-select"></select>
				        </div>
				    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="">
                    <img id="cover1" src="/images/loading1.gif" style="align-content:center;display: none;" />
                    <button id="submit" type="button" class="btn btn-primary" onclick="saveBid()">招标</button>
                    <button type="button" class="btn btn-white btn-close" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" th:inline="text">
	//<![CDATA[
        var jsonCondition = {};
        $(function () {
            syk.initList();
            loadProjectType(); 
            window.setTimeout(function() {
            	var dataGrid = new DataGrid({
            		multiselect: true,
                	 url:'/project/list.json',
                	 dataGridTable: $("#table_list_1"),
                     pagerId : '#pager_list_1',
                	 colNames : ['ID','项目名称','项目编码','项目类型','投资规模（万）','简介','创建人','创建时间','状态','操作'],
                     colModel : [
                                {name:'id', index:'id', width:100,align:"center",sortable:false},
                                {name:'name', index:'name', width:150,align:"center",sortable:false,classes:'text'},
                                {name:'serialNum', index:'serialNum', width:150,align:"center",sortable:false, hidden: true },
                                {name:'projectTypeName', index:'projectTypeName',align:"center", width:250,sortable:false,classes:'text'},
                                {name:'investment', index:'investment', width:150,align:"center",sortable:false},
                                {name:'description', index:'description', width:400,align:"center",sortable:false,classes:'text'},
                                {name:'createUserName', index:'createUserName',align:"center", width:150,sortable:false},
                                {name:'createTime', index:'createTime',align:"center", width:150,formatter: syk.formatTime,sortable:false,classes:'text'},
                                {name:'status', index:'status',align:"center", width:150,formatter: formatStatus,sortable:false},
                                {name:'operate', index:'operate', width:150,align:"center",formatter: formatMenu,sortable:false},
                              ]
                });
    		},100);
	        loadBidType();
        });
        
        function formatStatus(cellvalue, options, rowObject) {
			if(cellvalue == 1){
        		return '招标中';
        	}else if(cellvalue == 2){
        		return '招标完成';
        	}else if(cellvalue == 3){
        		return '服务中';
        	}else if(cellvalue == 4){
        		return '服务完成';
        	}else if(cellvalue == 5){
        		return '评分完成';
        	}
		}
        
        function loadProject(){
        	syk.get("/project/bid.json", function (datas) {
	        	syk.initFixedChosen(datas, { selector: $("#projectId") });
	        });
        }
        
        function loadBidType(){
        	var data = [{"id":"1","name":"随机选择"},{"id":"2","name":"限定选择"},{"id":"3","name":"条件选择"}];
	        syk.initFixedChosen(data, { selector: $("#bidType") });
        }
     
        function formatMenu(cellvalue, options, rowObject) {
        	var btns = '<div class="btn-group"><button data-toggle="dropdown" class="btn btn-primary btn-xs dropdown-toggle">操作<span class="caret"></span></button>' +
      		'<ul class="dropdown-menu">';
      		if ([[${hasEditBtn}]] == true) {
	           btns = btns + '<li><a href="#" onclick="edit(' + rowObject.id + ');">编辑</a></li>';
	        }
	        if ([[${hasBidBtn}]] == true && rowObject.status == 1) {
	           btns = btns + '<li><a href="#" onclick="bid(' + rowObject.id + ');">招标</a></li>';
	        }
        	btns = btns + '<li><a href="#" onclick="look(' + rowObject.id + ');">查看</a></li>';
			return btns + '</ul></div>';
		}

        function loadProjectType() {
	    	syk.get("/project/type.json", function (datas) {
	        	syk.initFixedChosen(datas, { selector: $("#projectTypeId") });
	        });
	    }
	    
	    function add() {
	        syk.parent.sykModal.open({ url: "/pages/project/obj?id=0", title: "新增" + syk.getTitle(), top: '10%', ftitle: '', size: 500 });
	    }
	    
	    function edit(id) {
	        syk.parent.sykModal.open({ url: "/pages/project/obj?id="+id, title: "编辑" + syk.getTitle(), top: '10%', ftitle: '', size: 500 });
	    }
	    
	    function look(id) {
	    	var rowObject = $("#table_list_1").jqGrid('getRowData', id);
	        $("#name_1").html(rowObject.name);
	        $("#projectTypeName").html(rowObject.projectTypeName);
	        $("#serialNum").html(rowObject.serialNum);
	        $("#investment").html(rowObject.investment+"万");
	        $("#description").html(rowObject.description);
	        $('#project_view').modal('show').css({ "margin-top": "-70px" });
	    }
	    
	    function bid(id) {
	   		$("#bidform")[0].reset();
	        loadBidType();
	        var rowObject = $("#table_list_1").jqGrid('getRowData', id);
	        $('#projectId').val(id);
	        $('#projectName').val(rowObject.name);
	        $('#bidModal').modal('show').css({ "margin-top": "-70px" });
	    }
	    
	    function saveBid() {
	    	var id = $('#projectId').val();
	    	alert(id);
	    	var type  = $("#bidType").val();
	    	if(type == ""){
	    		layer.msg("请选择招标类型");
	    		return;
	    	}
	    	var params = {};
	    	params.projectId = id;
	    	params.bidType = type;
	    	alert(JSON.stringify(params));
	    	$.ajax({
	            type: 'POST',
	            contentType: 'application/json',
	            url: '/project/bid.json',
	            data: JSON.stringify(params),
	            dataType: 'json',
	            beforeSend: function () {
	                $("#submit").hide();
	                $("#cover").show();
	            },
	            success: function (data) {
	                if (data.result) {
	                    $("#bidModal").modal("hide");
	                    layer.msg(data.msg+"招标成功");
	                    saveRefresh();
	                } else {
	                    syk.alertError(data.msg);
	                }
	            },
	            error: function (errMsg) {
	                syk.alertSysError();
	            },
	            complete: function () {
	                $("#submit").show();
	                $("#cover").hide();
	            }
	        });
	    }
	    function delProject() {
	        var rowIds = jQuery("#table_list_1").jqGrid('getGridParam', 'selarrrow');
	        if (rowIds == null || rowIds == '') {
	            layer.msg("请选择要删除的数据！");
	            return;
	        }
	        var projectIds = "";
	        for(var i in rowIds){
	        	projectIds = projectIds + rowIds[i] + ",";
	        }
	        projectIds = projectIds.substring(0,projectIds.length-1)
	        syk.confirm("确认要删除选择的数据吗？", function () {
	            $.ajax({
	                type: "post",
	                url: "/project/del.json?projectIds="+projectIds,
	                contentType: "application/json; charset=utf-8",
	                success: function (data) {
	                    if (data.result) {
	                        layer.msg('删除成功');
	                        $("#table_list_1").trigger("reloadGrid");
	                    }
	                },
	                error: function (errMsg) {
	                    syk.alertSysError();
	                }
	            });
	        });
	    }
    //]]>
</script>
