<!DOCTYPE html>
<head th:substituteby="/includes/header :: header" />
<div class="wrapper wrapper-content  animated fadeInRight">
    <div class="ibox ">
        <div class="ibox-content">
            <form id="addform" class="form-horizontal" role="form" data-toggle="validator" th:object="${obj}">
                <input id="id" name="id" type="hidden" th:value="${obj==null}?'0':*{id}" />
                <div class="form-group">
                    <label class="col-md-2 control-label">*企业名称</label>
                    <div class="col-md-3">
                        <input type="text" id="name" name="name" class="input-sm form-control" th:value="${obj==null}?'':*{name}" />
                    </div>
                    <div class="col-md-5">
                            <input id="licenseImgs" name="licenseImgs" type="hidden" th:value="${obj==null}?'':*{licenseImgs}"/>
                    		<div class="upload-btn">
                                <button type="button" class="btn btn-info btn-sm" data-dismiss="modal" onclick="uploadFiles(1);">上传营业执照</button>
                            </div>
                            <div id="fileName_1">
                            </div>
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    <label class="col-md-2 control-label">*企业法人</label>
                    <div class="col-md-3">
                        <input type="text" id="corporation" name="corporation" class="input-sm form-control" th:value="${obj==null}?'':*{corporation}" />
                    </div>
                    <div class="col-md-5">
                    		<input id="identityCardImgs" name="identityCardImgs" type="hidden" th:value="${obj==null}?'':*{identityCardImgs}"/>
                    		<div class="upload-btn">
                                <button type="button" class="btn btn-info btn-sm" data-dismiss="modal" onclick="uploadFiles(2);">上传身份证</button>
                            </div>
                            <div id="fileName_2">
                            </div>
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                <label class="col-md-2 control-label">*企业法人电话</label>
                    <div class="col-md-3">
                        <input type="text" id="corporationPhone" name="corporationPhone" class="input-sm form-control" th:value="${obj==null}?'':*{corporationPhone}" />
                    </div>
                    <label class="col-md-2 control-label">*信用代码</label>
                    <div class="col-md-3">
                        <input type="text" id="serialNum" name="serialNum" class="input-sm form-control" th:value="${obj==null}?'':*{serialNum}" />
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    <label class="col-md-2 control-label">*企业简称</label>
                    <div class="col-md-3">
                        <input type="text" id="linkName" name="linkName" class="input-sm form-control" th:value="${obj==null}?'':*{linkName}" />
                    </div>
                    <label class="col-md-2 control-label">*注册资本</label>
                    <div class="col-md-3">
                        <input type="text" id="registeredCapital" name="registeredCapital" class="input-sm form-control" th:value="${obj==null}?'':*{registeredCapital}" />
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    <label class="col-md-2 control-label">*注册地址</label>
                    <div class="col-md-8">
                        <input type="text" id="registerAddress" name="registerAddress" class="input-sm form-control" th:value="${obj==null}?'':*{registerAddress}"/>
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    <label class="col-md-2 control-label">*办公地址</label>
                    <div class="col-md-8">
                        <input type="text" id="workAddress" name="workAddress" class="input-sm form-control" th:value="${obj==null}?'':*{workAddress}"/>
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    <label class="col-md-2 control-label">*联系人</label>
                    <div class="col-md-3">
                        <input type="text" id="linkMan" name="linkMan" class="input-sm form-control" th:value="${obj==null}?'':*{linkMan}" />
                    </div>
                    <label class="col-md-2 control-label">*联系电话</label>
                    <div class="col-md-3">
                        <input type="text" id="linkPhone" name="linkPhone" class="input-sm form-control" th:value="${obj==null}?'':*{linkPhone}" />
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    <label class="col-md-2 control-label">*座机</label>
                    <div class="col-md-3">
                        <input type="text" id="deskPhone" name="deskPhone" class="input-sm form-control" th:value="${obj==null}?'':*{deskPhone}" />
                    </div>
                    <label class="col-md-2 control-label">*邮箱</label>
                    <div class="col-md-3">
                        <input type="text" id="email" name="email" class="input-sm form-control" th:value="${obj==null}?'':*{email}" />
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    <label class="col-md-2 control-label">*资质证书名称</label>
                    <div class="col-md-5">
                        <input type="text" id="certificationName" name="certificationName" class="input-sm form-control" th:value="${obj==null}?'':*{certificationName}" />
                    </div>
                    <div class="col-md-3">
                   	 	<input id="certificateImgs" name="certificateImgs" type="hidden" th:value="${obj==null}?'':*{certificateImgs}"/>
                		<div class="upload-btn">
                            <button type="button" class="btn btn-info btn-sm" data-dismiss="modal" onclick="uploadFiles(3);">上传资质证书</button>
                        </div>
                        <div id="fileName_3">
                        </div>
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    <label class="col-md-2 control-label">*资质证书等级</label>
                    <div class="col-md-3">
                        <input type="text" id="certificationLevel" name="certificationLevel" class="input-sm form-control" th:value="${obj==null}?'':*{certificationLevel}" />
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    <label class="col-md-2 control-label">企业简介</label>
                    <div class="col-md-8">
                        <textarea id="description" name="description" class="form-control" rows="4" cols="3" th:text="${obj==null}?'':*{description}"></textarea>
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    <label class="col-md-2 control-label"></label>
                    <div class="col-md-6">
                        <div class="from-footer">
                            <img id="cover" hidden="hidden" src="/images/loading1.gif" style="align-content:center;" />
                            <button id="submit" type="button" class="btn btn-primary">保存</button>
                            <button type="button" class="btn btn-white btn-close" data-dismiss="modal">取消</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="fileModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">上传图片</h4>
            </div>
            <div class="modal-body" style="height: auto; overflow:auto;">
                <input id="file" name="file" type="file" multiple="multiple" class="file-loading" />
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<script type="text/javascript" th:inline="text">
    //<![CDATA[
    var licenseImgs = "";
    var certificateImgs = "";
    var identityCardImgs = "";
    var type = 1;
    $(function () {
        var form = $("#addform");
        if($("#licenseImgs").val() != null && $("#licenseImgs").val() != ""){
        	$.each($("#licenseImgs").val().split(','), function (index, obj) {
	        	var name = obj.substring(obj.lastIndexOf("/")+1, obj.length);
	            setImgs(obj,name,1);
	        });
        }
        
        if($("#certificateImgs").val() != null && $("#certificateImgs").val() != ""){
	        $.each($("#certificateImgs").val().split(','), function (index, obj) {
	        	var name = obj.substring(obj.lastIndexOf("/")+1, obj.length);
	            setImgs(obj,name,3);
	        });
        }
        
        if($("#identityCardImgs").val() != null && $("#identityCardImgs").val() != ""){
        	$.each($("#identityCardImgs").val().split(','), function (index, obj) {
	        	var name = obj.substring(obj.lastIndexOf("/")+1, obj.length);
	            setImgs(obj,name,2);
	        });
        }
        
        $('.fancybox').fancybox({
            openEffect: 'none',
            closeEffect: 'none'
        });
        $('#file').fileinput({
            language: 'zh',
            uploadUrl: '/file/upload.json', //上传的地址
            showCaption: false,
            allowedFileExtensions: ['pdf','jpg'],//接收的文件后缀
            showUpload: true, //是否显示上传按钮
            browseClass: "btn btn-primary", //按钮样式
            maxFileCount: 4,
            showPreview: true,
            uploadAsync: true,
            previewClass: "",
            initialPreview: [""],
            maxFileSize: 10240,
            showRemove: true
        });
        $('#file').on("fileuploaded", function (event, data, previewId, index) {
            setImgs(data.response.url,data.response.imageName,type);
            $('#fileModal').modal('hide');
        });
        syk.initEdit({
            form: form, url: '/supplier/save.json',
            customValidate: function () {
            	if(licenseImgs == ""){
            		layer.alert("请上传营业执照");
            		return false;
            	}else{
            		$("#licenseImgs").val(licenseImgs.substring(0, licenseImgs.length - 1));
            	}
            	if(identityCardImgs == ""){
            		layer.alert("请上传身份证");
            		return false;
            	}else{
            		$("#identityCardImgs").val(identityCardImgs.substring(0, licenseImgs.length - 1));
            	}
            	if(certificateImgs == ""){
            		layer.alert("请上传资质证书副本");
            		return false;
            	}else{
            		$("#certificateImgs").val(certificateImgs.substring(0, licenseImgs.length - 1));
            	}
                return true;
            },
            validate: {
                fields: {
                    name: {
                        validators: {
                            notEmpty: {
                                message: '供应商名称不能为空'
                            }
                        }
                    },
                    serialNum: {
                        validators: {
                            notEmpty: {
                                message: '信用代码不能为空'
                            }
                        }
                    },
                    corporation: {
                        validators: {
                            notEmpty: {
                                message: '企业法人不能为空'
                            }
                        }
                    },
                    corporationPhone: {
                        validators: {
                            notEmpty: {
                                message: '企业法人电话不能为空'
                            }
                        }
                    }
                }
            }
        });
    });
    function uploadFiles(a) {
    	type = a;
        $("#file").fileinput('refresh', {
            uploadExtraData: {},
            initialPreview: [
                "",
            ],
        });
        $('#fileModal').modal('show').css({ "margin-top": "-70px" });
    }
    function setImgs(url,imageName,type){
    	alert(type);
    	if(type == 1){
    		licenseImgs = licenseImgs + imageName + ",";
    	}else if(type == 2){
    		identityCardImgs = identityCardImgs + imageName + ",";
    	}else if(type == 3){
    		certificateImgs = certificateImgs + imageName + ",";
    	}
    	var url = encodeURI(url);
		var $attach = $("<div class='attach' type='"+type+"' imgName = '"+imageName+"'></div>");
        var a = $("<a class='fancybox' target='_blank'><img src='" + url + "' style='width:40px;height:40px;'/></a>").prop("href", url);
        $attach.append(a).append("&nbsp;<span class='glyphicon glyphicon-remove' style='position:relative;margin-left:2px;'></span>");
        if(type == 1){
     	   $attach.appendTo("#fileName_1");
        }else if(type == 2){
        	$attach.appendTo("#fileName_2");	
        }else if(type == 3){
        	$attach.appendTo("#fileName_3");
        }
        $attach.find(".glyphicon-remove").click(function () {
            var requestDate = {};
            var thus = $(this);
            var type_new = thus.closest(".attach").attr("type");
            var imgName_new = thus.closest(".attach").attr("imgName");
            requestDate.filename = imgName_new;
            alert(imgName_new);
            $.ajax({
                type: 'POST',
                url: '/file/delete.json',
                data: JSON.stringify(requestDate),
                dataType: 'json',
                contentType: "application/json; charset=utf-8",
                success: function (data1) {
                    if (data1.result) {
                        var imageStrs = new Array();
                        if(type_new == 1){
			         	   imageStrs = licenseImgs.substring(0, licenseImgs.length - 1).split(",");
			         	   licenseImgs = "";
			            }else if(type_new == 2){
			            	imageStrs = identityCardImgs.substring(0, identityCardImgs.length - 1).split(",");
			            	identityCardImgs = "";
			            }else if(type_new == 3){
			            	imageStrs = certificateImgs.substring(0, certificateImgs.length - 1).split(",");
			            	certificateImgs = "";
			            }
                        
                        for (j in imageStrs) {
                            if (imageStrs[j] != imgName_new) {
                                if(type_new == 1){
					         	   licenseImgs = licenseImgs + imageStrs[j] + ",";
					            }else if(type_new == 2){
					            	identityCardImgs = identityCardImgs + imageStrs[j] + ",";
					            }else if(type_new == 3){
					            	certificateImgs = certificateImgs + imageStrs[j] + ",";
					            }
                            }
                        }
                        thus.closest(".attach").hide();
                    } else {
                        return;
                    }
                },
                error: function (errMsg) {
                    layer.alert("<spn style='color:red'>发生系统错误，删除失败</spn>");
                }
            });

        });
    }
    //]]>
</script>