<!DOCTYPE html>
<head th:substituteby="/includes/header :: header" />
<div class="wrapper wrapper-content  animated fadeInRight">
    <div class="ibox ">
        <div class="ibox-content">
            <form id="searchForm" class="form-inline list-search" role="form">
                <div class="form-group">
                    <label>
                        供应商名 <input type="text" id="name" autofocus="autofocus" name="name" class="input-sm form-control" value="" />
                    </label>
                </div>
            </form>
            <div class="list-btn">
                <button id="search" class="btn btn-primary btn-sm" >
                    搜 索 <i class="fa fa-search"></i>
                </button>
                <button id="search-reset" class="btn btn-primary btn-sm" >
                    显示所有
                </button>
                <button th:if="${hasAddBtn} == true" id="add" class="btn btn-danger btn-sm" onclick="javascript:navPage('/pages/supplier/obj?id=0','新增');">
                    新 增 <i class="fa fa-plus"></i>
                </button>
                <button th:if="${hasDelBtn} == true" id="delete1" class="btn btn-danger btn-sm" onclick="delSupplier()">
                    删除 <i class="fa fa-trash"></i>
                </button>
            </div>
            <div class="jqGrid_wrapper">
                <table id="table_list_1"></table>
                <div id="pager_list_1"></div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" th:inline="text">
	//<![CDATA[
        var jsonCondition = {};
        $(function () {
            syk.initList();
             
            window.setTimeout(function() {
            	var dataGrid = new DataGrid({
            		 multiselect: true, 
                	 url:'/supplier/list.json',
                	 dataGridTable: $("#table_list_1"),
                     pagerId : '#pager_list_1',
                	 colNames : ['ID','供应商名称','信用代码','企业法人','企业法人电话','注册资本','评分等级','操作'],
                     colModel : [
                                {name:'id', index:'id', width:50,align:"center",sortable:false},
                                {name:'name', index:'name', width:350,align:"center",sortable:false},
                                {name:'serialNum', index:'serialNum',align:"center", width:200,sortable:false},
                                {name:'corporation', index:'corporation', width:150,align:"center",sortable:false},
                                {name:'corporationPhone', index:'corporationPhone', width:150,align:"center",sortable:false},
                                {name:'registeredCapital', index:'registeredCapital',align:"center", width:150,sortable:false},
                                {name:'scoreLevel', index:'scoreLevel',align:"center", width:100,sortable:false},
                                {name:'operate', index:'operate', width:150,align:"center",formatter: formatMenu,sortable:false},
                              ]
                });
    		},100);
        });
     
		function formatMenu(cellvalue, options, rowObject) {
        	var btns = '<div class="btn-group"><button data-toggle="dropdown" class="btn btn-primary btn-xs dropdown-toggle">操作<span class="caret"></span></button>' +
      		'<ul class="dropdown-menu">';
      		if ([[${hasEditBtn}]] == true) {
	           btns = btns + '<li><a href="#" onclick="javascript:return navPage(\'/pages/supplier/obj?id='+rowObject.id+'&isView=0\',\'编辑\');">编辑<i class="fa fa-edit"></i></a></li>';
	        }
      		if ([[${hasSetBtn}]] == true) {
 	           btns = btns + '<li><a href="#" onclick="javascript:return navPage(\'/pages/supplier/obj?id='+rowObject.id+'&isView=0\',\'编辑\');">设置中标</a></li>';
 	        }
        	btns = btns + '<li><a href="#" onclick="supplierView(' + rowObject.id + ');">查看</a></li>';
			return btns + '</ul></div>';
		}

        function formatStatus(val, row){
        	if(val == 1){
     		   return '<a style="cursor:default;" data-id="'+val+'" tostatus="0" title="启用" class="data-status">'+
     		   '<i class="fa fa-check-square"></i></a>';
     	   }else{
     		   return '<a style="cursor:default;" data-id="'+val+'" tostatus="1" title="禁用" class="data-status">'+
     		   '<i class="fa fa-minus-square"></i></a>';
     	   }
        }
        
        function supplierView(id) {
            syk.parent.sykModal.open({ url: "/pages/supplier/obj?id="+id+"&isView=1", title: "供应商详情", top: '10%', ftitle: '', size: 600 , isSubmit: false});
        }
        
        function delSupplier() {
	        var rowIds = jQuery("#table_list_1").jqGrid('getGridParam', 'selarrrow');
	        if (rowIds == null || rowIds == '') {
	            layer.msg("请选择要删除的数据！");
	            return;
	        }
	        var supplierIds = "";
	        for(var i in rowIds){
	        	supplierIds = supplierIds + rowIds[i] + ",";
	        }
	        supplierIds = supplierIds.substring(0,supplierIds.length-1)
	        syk.confirm("确认要删除选择的数据吗？", function () {
	            $.ajax({
	                type: "post",
	                url: "/supplier/del.json?supplierIds="+supplierIds,
	                contentType: "application/json; charset=utf-8",
	                success: function (data) {
	                    if (data.result) {
	                        layer.msg('删除成功');
	                        $("#table_list_1").trigger("reloadGrid");
	                    }
	                },
	                error: function (errMsg) {
	                    syk.alertSysError();
	                }
	            });
	        });
	    }
        function updateSupplier(id) {
	    	$.ajax({
                type: "post",
                url: "/supplie/update_status.json?id="+id,
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    if (data.result) {
                        layer.msg('设置中标成功');
                        $("#table_list_1").trigger("reloadGrid");
                    }
                },
                error: function (errMsg) {
                    syk.alertSysError();
                }
            });
	    }
    //]]>
</script>
