<!DOCTYPE html>
<head th:substituteby="/includes/header :: header" />
<div class="wrapper wrapper-content  animated fadeInRight">
    <div class="ibox ">
        <div class="ibox-content">
            <form id="searchForm" class="form-inline list-search" role="form">
                <div class="form-group">
                    <label> 姓名 <input type="text" id="name" name="name" class="input-sm form-control" autocomplete="off" value="" />
                    </label>
                </div>
                <div class="form-group">
                    <label> 用户名 <input type="text" name="userName" autocomplete="off" class="input-sm form-control" value="" />
                    </label>
                </div>
                <div class="form-group">
                    <label>角色<select id="roleId" name="roleId" class="chosen-select"></select>
                    </label>
                </div>
            </form>
            <div class="list-btn">
                <button id="search" class="btn btn-primary btn-sm"> 搜 索 <i class="fa fa-search"></i></button>
                <button id="search-reset" class="btn btn-primary btn-sm">显示所有</button>
                <button th:if="${hasAddBtn} == true" id="add" class="btn btn-danger btn-sm" onclick="add()"> 新 增 <i class="fa fa-plus"></i></button>
            </div>
            <div class="jqGrid_wrapper">
                <table id="table_list_1"></table>
                <div id="pager_list_1"></div>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">修改密码</h4>
            </div>
            <div class="modal-body ">
                <form id="pwdform" class="form-horizontal">
                    <input name="id" style="display: none;" />
                    <div class="form-group ">
                        <label class="col-md-2 control-label">*密码</label>

                        <div class="col-md-9">
                            <input type="password" data-bv-notempty="true" id="pwd" name="password" placeholder="" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">*再次确认</label>

                        <div class="col-md-9">
                            <input id="password1" type="password" data-bv-notempty="true" name="password1" placeholder="" class="form-control" />
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="">
                    <img id="cover1" src="/images/loading1.gif" style="align-content:center;display: none;" />
                    <button id="submit1" type="button" class="btn btn-primary">保存</button>
                    <button type="button" class="btn btn-white btn-close" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" th:inline="text">
    //<![CDATA[
	var jsonCondition = {};
    $(function () {
    	syk.initList();
        
        setTimeout(function () {
            loadrole();
            loadlist();
            pwdvalidator();
        }, 200);
        
        $('#myModal').on('hide.bs.modal', function (e) {
            setTimeout(function () {
                document.getElementById("name").focus();
            }, 200);

        });// input 获得焦点
        
        $('#myModal').on('shown.bs.modal', function (e) {
            $("#pwd")[0].focus();// input 获得焦点
        });
    });

    function loadlist() {
        var dataGrid = new DataGrid({
            multiselect: false,
            url: '/system/user/userList.json',
            dataGridTable: $("#table_list_1"),
            pagerId: '#pager_list_1',
            colNames: ['编号', '姓名', '用户名', 'Email', '联系电话', '角色', 'roleid', '状态', '操作'],
            colModel: [
                { name: 'id', index: 'id', editable: true, width: 30, align: "center", sortable: false, search: true },
                { name: 'name', index: 'name', editable: true, width: 50, sortable: false, align: "center", classes: "text" },
                { name: 'userName', index: 'userName', editable: true, width: 80, sortable: false, align: "center", classes: "text" },
                { name: 'email', index: 'email', editable: true, width: 80, align: "center", sortable: false, classes: "text" },
                { name: 'phone', index: 'phone', editable: true, sortable: false, width: 70, align: "center", classes: "text" },
                { name: 'roleName', index: 'roleName', editable: true, width: 60, sortable: false, align: "center", classes: "text" },
                { name: 'roleId', index: 'roleId', editable: true, sortable: false, align: "right", hidden: true },
                { name: 'status', index: 'status', editable: true, width: 30, sortable: false, align: "center", formatter: status },
                { name: 'operate', index: 'operate', sortable: false, width: 60, sortable: false, align: "center", formatter: addButton },
            ]
        });
    }


    function status(val, row) {
        if (val == 1) {
            return '<a style="cursor:default;" data-id="' + val + '" tostatus="1" title="启用" class="data-status">' +
            '<i class="fa fa-check-square"></i></a>';
        } else {
            return '<a style="cursor:default;" data-id="' + val + '" tostatus="0" title="禁用" class="data-status">' +
            '<i class="fa fa-minus-square"></i></a>';
        }
    }


    function addButton(cellvalue, options, rowObject) {
        var edit = "[[${hasEditBtn}]]" === "true";
        var pwd = "[[${hasPwdeBtn}]]" === "true";
        if (!edit && !pwd)
            return "";

        var cont = '<div class="btn-group"><button data-toggle="dropdown" class="btn btn-primary btn-xs dropdown-toggle">操作<span class="caret"></span></button>' +
        '<ul class="dropdown-menu">';
        if (edit) {
            cont = cont + '<li><a onclick="edit(' + rowObject.id + ');" >编辑用户 <i class="fa fa-edit"/></a></li>';
        }
        if (pwd) {
            cont = cont + '<li><a onclick="updpwd(' + rowObject.id + ');">修改密码 <i class="fa fa-unlock"/></a></li>';

        }
        return cont + '</ul></div>';
    }

    function loadrole() {
    	syk.get("/system/user/roleList.json", function (datas) {
        	syk.initFixedChosen(datas, { selector: $("#roleId") });
        });
    }

    function add() {
        syk.parent.sykModal.open({ url: "/pages/user/obj?id=0", title: "新增用户", top: '10%', ftitle: '', size: 620 });
    }
    
    function edit(id) {
        syk.parent.sykModal.open({ url: "/pages/user/obj?id=" + id, title: "编辑用户", top: '10%', ftitle: '', size: 620});
    }

    function updpwd(id) {
        var data = $("#table_list_1").jqGrid('getRowData', id);
        $('#pwdform').bootstrapValidator('resetForm', true);
        $('[name="id"]').val(data.id);
        $('[name="password"]').val('');
        $('[name="password1"]').val('');
        $("#myModal").modal('show');
    }

    $("#submit1").on("click", function () {
        var bootstrapValidator = $("#pwdform").data('bootstrapValidator').validate();
        if (bootstrapValidator.isValid()) {
            $("#submit1").hide();
            $("#cover1").show();
            $("#password1").attr({ "name": "" });
            var data = {};
            $($("#pwdform").serializeArray()).each(function () {
                data[this.name] = this.value;
            });
            $.ajax({
                type: "POST",
                url: "/system/user/updatePwd.json",
                contentType: 'application/json',
                data: JSON.stringify(data),
                dataType: "json",
                success: function (resp) {
                    $("#myModal").modal('hide');
                    $("#cover1").hide();
                    $("#submit1").show();
                    if (resp.result == true) {
                        layer.msg('保存成功');
                    } else {
                        layer.msg('保存失败！');
                    }
                    $("#submit1").show();
                    $("#cover1").hide();
                },
                error: function (errMsg) {
                    $("#myModal").modal('hide');
                    layer.alert('<span style="color: red;">发生系统错误，保存失败</span>');
                }
            });
            $("#password1").attr({ "name": "password1" });
        } else {
            layer.msg("请正确填写信息");
        }
    });

    function pwdvalidator() {
        $('#pwdform').bootstrapValidator({
            message: 'This value is not valid',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                password: {
                    validators: {
                        notEmpty: {
                            message: '密码不能为空'
                        },
                        stringLength: {
                            min: 6,
                            max: 12,
                            message: '密码长度应在6-12位'
                        }

                    }
                },
                password1: {
                    validators: {
                        notEmpty: {
                            message: '密码不能为空'
                        },

                        identical: {
                            field: 'password',
                            message: '两次密码不一致'
                        }
                    }
                },
            }
        });
    }
    //]]>
</script>
<style>
    .ui-jqgrid tr.jqgrow td {
        text-overflow: ellipsis;
    }
</style>
